set_io clk_ice    21
set_io clk_ULPI   45

set_io UART_Rx    9
set_io UART_Tx    8

set_io ULPI_DIR     47
set_io ULPI_NXT     48
set_io ULPI_DATA[0] 119
set_io ULPI_DATA[1] 118
set_io ULPI_DATA[2] 117
set_io ULPI_DATA[3] 116
set_io ULPI_DATA[4] 115
set_io ULPI_DATA[5] 114
set_io ULPI_DATA[6] 113
set_io ULPI_DATA[7] 112
set_io ULPI_STP     56
set_io ULPI_RST     44 

set_io IO_BTNs[0] 78
set_io IO_BTNs[1] 81

set_io IO_LEDs[0] 95
set_io IO_LEDs[1] 96
set_io IO_LEDs[2] 97
set_io IO_LEDs[3] 98
set_io IO_LEDs[4] 99

set_io IO_test[0] 60
set_io IO_test[1] 61
set_io IO_test[2] 62