set_io clk_int
set_io clk_ext

set_io ULPI_DIR
set_io ULPI_NXT
set_io ULPI_STP
set_io ULPI_DATA[0]
set_io ULPI_DATA[1]
set_io ULPI_DATA[2]
set_io ULPI_DATA[3]
set_io ULPI_DATA[4]
set_io ULPI_DATA[5]
set_io ULPI_DATA[6]
set_io ULPI_DATA[7]

set_io SPI_SCK  70
set_io SPI_SS   71
set_io SPI_MOSI 68
set_io SPI_MISO 67

set_io UART_RX 9
set_io UART_TX 8