set_io clk_ice    21

set_io UART_Rx    9
set_io UART_Tx    8

set_io IO_btn     78
set_io IO_test[0] 87
set_io IO_test[1] 88
set_io IO_test[2] 90
set_io IO_LEDs[0] 95
set_io IO_LEDs[1] 96
set_io IO_LEDs[2] 97
set_io IO_LEDs[3] 98
set_io IO_LEDs[4] 99